body
	{font-family: 'Open Sans', sans-serif;}

	.fb-profile img.fb-image-lg{
	    z-index: 0;
	    width: 100%;  
	    margin-bottom: 10px;
	}

	.fb-image-profile{

	    margin: -90px 10px 0px 50px;
	    z-index: 9;
	    width: 20%; 
	}

@media (max-width:768px){
    
	.fb-profile-text>h1{
	    font-weight: 700;
	    font-size:16px;
	}

	.fb-image-profile{
	    margin: -45px 10px 0px 25px;
	    z-index: 9;
	    width: 20%; 
	}

}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
     margin-top:15%;
}


  .avatar-view {cursor: pointer;}
  
  .avatar-wrapper {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;

  }

  .loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("../img/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
 }

