
	.fb-profile img.fb-image-lg{
	    z-index: 0;
	    width: 100%;  
	    margin-bottom: 10px;
	}

	.fb-image-profile{

	    margin: -90px 10px 0px 50px;
	    z-index: 9;
	    width: 20%; 
	}

@media (max-width:768px){
    
	.fb-profile-text>h1{
	    font-weight: 700;
	    font-size:16px;
	}

	.fb-image-profile{
	    margin: -45px 10px 0px 25px;
	    z-index: 9;
	    width: 20%; 
	}

}

	.center {
	     float: none;
	     margin-left: auto;
	     margin-right: auto;
	     margin-top:15%;
	}

	

